

// Container
.container {
	max-width: $site-width;
	padding: 0 $padding;
	margin-left: auto;
	margin-right: auto;
}

// Small container
.small-container {
	@extend .container;
	max-width: $small;
}

// Medium container
.medium-container {
	@extend .container;
	max-width: $medium;
}

// Full container
.full-container {
	max-width: 100%;
	padding: 0 1rem;
}


// Main Layout
.content-area {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  section, aside {
    margin: 1rem;
  }

  section {
    min-width: 60%;
    flex-basis: 0;
    flex-grow: 666;
  }

  aside {
    flex-basis: 20rem;
    flex-grow: 1;
  }
}


.content-area aside {
  > h4 {
    margin-top: 0;
  }
}
