/* Reset
  =============== */

// Reset box sizing to border box
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Remove figure margin
figure {
	margin: 0;
}

ul, ol, blockquote, p, h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}


img, a img {
	max-width: 100%;
	height: auto; 
}
