header.site-header {
  padding: 2em 1rem;

  @include breakpoint($large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-title {

    margin:0;
  }
  p.site-title {
    font-size: $h1-mobile;
    margin-bottom: 0;
    line-height: 1.2;
    @include breakpoint($small) {
      font-size: $h1;
      font-weight: $heading-font-weight;
    }
  }
}
